<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AirBNB - Search Results</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Helvetica+Neue" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <h1>AirBNL</h1>
</header>

<div class="search-results">
    <h2>new Hotel</h2>
    <form th:action="@{/save}" method="post">
        <input type="hidden" name="id" id="id">

        <label for="name">Name:</label>
        <input type="text" name="name" id="name">

        <input type="hidden" name="managerId" id="managerId">

        <label for="countryId">Country ID:</label>
        <input type="text" name="countryId" id="countryId">

        <label for="countryName">Country Name:</label>
        <input type="text" name="countryName" id="countryName">

        <button type="submit">Submit</button>
    </form>
</div>

<a href="newRoom.html">New Hotel</a>

<footer>
    <p>&copy; 2023 AirBNL</p>
</footer>
</body>
</html>
